/* body {
  
}

.carousel {
  height: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  height: 100vmax;
  vertical-align: middle;
}

.landscape {
  height: 100vmax;
} */